@import "../../../styles/variables";

.left, .right {
  position: absolute;
  top: 0;
  width: 35px;
  height: 100%;
  cursor: pointer;
  background: unset;
  border: unset;
  outline: none;
  transition: $animate;
  -webkit-tap-highlight-color: transparent;
  &:active {
    transition: $animate;
    transform: scale(0.70, 0.70);
  }
  @media #{$scr-laptop} {
    width: 70px;
  }
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.left svg, .right svg {
  width: 15px;
  height: 15px;
  fill: $gray;
  @media #{$scr-laptop} {
    width: 35px;
    height: 35px;
  }
}