$dark: #373737;
$light: #f4f4f4;
$white: #fefefe;
$highlight1: #c0b283;
$highlight2: #dcd0c0;
$font-size--large-headline--mobile: 4rem;
$font-size--large-headline--desktop: 4.8rem;
$font-size--large-text--mobile: 1.6rem;
$font-size--large-text--desktop: 2rem;

$buttonsImgs: 
  '/buttons/1.png',
  '/buttons/2.png',
  '/buttons/3.png',
  '/buttons/4.png',
  '/buttons/5.png',
  '/buttons/6.png',
  '/buttons/7.png';

.PortfolioContiner {
  position: absolute;
  height: 100%;
  width: 100%;
}

.PortfolioContiner_Back {
  height: 20%;
}

.PortfolioContiner_Projects {
  height: 80%;
  overflow: hidden;
}

.carousel {
  height: 100%;
  overflow: hidden;
}

.slider {
  height: 80%;
  overflow-x: hidden;
  overflow-y: hidden;
  // overflow-y: auto;
}

.sliderAnimation___300FY {
  transition: transform .5s;
  transition-timing-function: cubic-bezier(.645,.045,.355,1);
  will-change: transform;
}

.slide {
  cursor: -webkit-grab;
  margin: 0 70px;
  height: 100%;
}

.slideContent {
  display: grid;
  grid-template-columns: 50% 50%;
}

.slideContent_picturesSlider {
  grid-row-start: 1;
  margin: 40px;
}

.slideContent_picture {
  width: 100%;
  box-shadow: 4px 4px 20px -6px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.slideContent_text {
  padding-right: 40px;
}

.slideContent_description {
  grid-row-start: 2;
  grid-row-end: 3;
  margin: 18px 0 10px;
  font-size: 1.2rem;
  line-height: 1.8rem;
}

.slideContent_tag {
  border-radius: 4px;
  font-family: Helvetica;
  font-size: 0.9em;
  text-align: center;
  color: #fff;
  padding: 5px;
  line-height: normal;
  padding-left: 6px;
  padding-right: 6px;
  display: inline-block;
  margin-bottom: 0.3em;
  margin-right: 0.3em;
}

.slideContent_tagContainer {
  margin-bottom: 20px;
}

.slideContent_link {
  font-size: 1.3rem;
  text-transform: uppercase;
  text-decoration: unset;
}


// controllButtons

.controllButtons {
  height: 20%;
  bottom: 0;
}

.controllButtons_left {
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  height: 100%;
  cursor: pointer;
  background: unset;
  border: unset;
}

.controllButtons_right { 
  position: absolute;
  top: 0;
  right: 0;
  width: 70px;
  height: 100%;
  cursor: pointer;
  background: unset;
  border: unset;
}

.controllButtons_numbers {
  position: relative;
  height: 100%;
}

.carousel__dot-group {    
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 100%;
}

@for $i from 1 through length($buttonsImgs) {
  .controllButtons_numbers .carousel__dot:nth-child(#{$i}) {
    background: url(nth($buttonsImgs, $i)) no-repeat center center;
    font-size: 0px;
  }
}

.carousel__dot {
  position: relative;
  margin: 0 3.6%;
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  width: 7%;
  height: 7vw;
  transform: scale(0.75, 0.75);
  border-radius: 4vw;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  border: 0.3vw solid #fff;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.carousel__dot--selected {
  transform: scale(0.9);
  transition-duration: 0.2s;
  cursor: unset;
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.75);
}

.controllButtons_icon {
  transition-duration: 0.4s;
}

.controllButtons_left:hover .controllButtons_icon {
  transform: scale(1.5, 1.5);
}

.controllButtons_right:hover .controllButtons_icon {
  transform: scale(1.5, 1.5);
}